<h1 class="title is-1">Esegui il login con Wikimedia Commons per caricare le tue fotografie dall'app</h1>
<%= link_to "Accedi a Wikimedia Commons", '/auth/mediawiki', method: :post, class: "button is-info is-large" %>